---
import Badge from '@/components/Badge.astro'
import Section from '@/components/Section.astro'

import { work } from '@cv'
---

<Section title='Experiencia'>
  <ul>
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
          highlights,
          remote
        }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear = endDate ? new Date(endDate).getFullYear() : 'Actual'
          return (
            <li>
              <article>
                <header class="flex">
                  <h3 class='flex'>
                    {name}{' '}
                    <Badge dark>{remote ? 'Remoto' : 'Presencial'}</Badge>
                  </h3>
                  <small>
                    {startYear} - {endYear}
                  </small>
                </header>
                <p>
                  <strong>{position}</strong>
                </p>
                <p>{summary}</p>
                <footer>
                  <aside class='flex'>
                    {highlights.map((highlight) => {
                      return <Badge>{highlight}</Badge>
                    })}
                  </aside>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  header {
    justify-content: space-between;
  }

  strong {
    font-weight: 600;
    color: var(--h4-color);
  }
</style>
